/*styling by css*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #f9f9f9;
    color: #333;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #0077cc;
    position: sticky;
    top: 0;
}

.logo{
    color: white;
    font-weight: 600;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.menu li a:hover{
    background: white;
    color: #0077cc;
}

.section{
    padding: 50px 10%;
}

.section h1{
    color: #0077cc;
    margin-bottom: 10px;
}

hr{
    width: 60px;
    height: 4px;
    border: none;
    background: #0077cc;
    margin-bottom: 20px;
}

.profile-img{
    width: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
}

table{
    width: 60%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

th, td{
    padding: 12px;
    border: 1px solid #ccc;
}

tr:nth-child(even){
    background: #e8f0ff;
}

th{
    background: #0077cc;
    color: white;
}


form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

input, textarea{
    padding: 10px;
    margin: 7px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.btn{
    padding: 10px 20px;
    background: #0077cc;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.btn:hover{
    background: #005c99;
}

.backtotop{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #0077cc;
    color: white;
    padding: 12px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

footer{
    text-align: center;
    padding: 15px;
    background: #0077cc;
    color: white;
}
